.vote-page {
    animation-delay: 1s;
    background: #70c4c6;
    animation-name: daylight;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-family: "Noto Sans Thai", sans-serif;
}

@keyframes daylight {
    0% {
        background-color: #70c4c6;
    }
    15% {
        background-color: #524b64;
    }
    40% {
        background-color: #354a4a;
    }
    70% {
        background-color: #354a4a;
    }
    80% {
        background-color: #e2b553;
    }
    100% {
        background-color: #70c4c6;
    }
}